<% if @title.is_a? Array %>
    <% content_for :title, @title.reverse.join("-") %>
<% else %>
    <% content_for :title, @title %>
<% end %>

<% content_for :title_image do %>
 

  <% if @category.present? %>
    <% title = {'lighttruck' => 'lt_pic1.gif', 'suv' => 'SUV&4X4轮胎产品', 'winter' => '雪地胎产品', 'pcr' => '轿车轮胎产品' } %>
    <%#= image_tag images[@category.downcase]  %>
    <h2><%= title[@category.downcase] %></h2>
  <% end %>

<% end %>
<div class="cb_left">
  <div class="pcr_list">
    <% @tires.each do |tire| %>
      <div class="rs_r1">
        <div class="pr_img">
          <%= image_fu(tire.list_image, "155x155") %>
        </div>
        <div class="pr_text">
          <div class="pt_title"><%= raw tire.title %></div>
          <div class="pt_con">
            <%= raw tire.description %>
          </div>
          <div class="pt_btn">
            <%= link_to refinery.tires_tire_path(tire) do %>
              <%= image_tag "pcr_pic4.jpg", :size => "100x26" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "sidebar" %>
