<% if @title.is_a? Array %>
    <% content_for :title, @title.reverse.join("-") %>
<% else %>
    <% content_for :title, @title %>
<% end %>

<% content_for :title_image do %>
  <%#= image_tag "fs_pic1.jpg" %>
  <h2>查找轮胎</h2>
<% end %>

<%= javascript_include_tag "jquery", "jquery-ui","jquery_ujs","underscore", "backbone", "region_china"%>
<%#= javascript_include_tag "application"%>

<div class="cb_left">

  <div id="shopsearch">
    <div class="tabs">
      <ul>
        <li><a class="current" href="/stores/search">精确查找</a></li>
        <li><a href="/stores/search_2">模糊查找</a></li>
      </ul>
    </div>

    <div class="body">
      <div class="map">
        <%= render "map", :tudes => @tudes, :center => @center, :zoom => @zoom %>
      </div>

      <div class="searchtable">

        <%= form_tag "/stores/search" do  -%>
          <%= render "region"%>
          </div>
        <% end -%>
        <% if request.post? %>
          <% unless  @stores_2.blank? %>
            <%= render  @stores_2 %>
          <% else %>
            <br />
            <h2 class='error'>没有找到相应的店铺</h2>
            <br />
          <% end %>

        <% end %>
        </div>
  </div>

</div>

<%= render "share/store_sidebar" %>




