<% if params[:id] == "1" # 形象店 %>
<% if @title.is_a? Array %>
        <% content_for :title, @title.reverse.join("-") %>
<% else %>
        <% content_for :title, @title %>
<% end %>
<% content_for :title_image do %>
  <%#= image_tag "is_pic1.jpg" %>
   <h2>斯达飞形象店</h2>
<% end %>

<div class="cb_left">


  <div class="is_con">
      <span><%=  image_tag "/images/is_pic2.png" %></span>
      <span><%=  image_tag "/images/is_pic3.png" %></span>
      <span><%=  image_tag "/images/is_pic4.png" %></span>
  </div>
</div>

<% elsif params[:id] == "2" # 招牌%>
  <% content_for :title, @title%>
  <% content_for :title_image do %>
    <%#= image_tag "sst_pic1.jpg", :size => '150x55' %>
    <h2>斯达飞招牌店</h2>
  <% end %>
  <div class="cb_left">
    <div class="is_con">
      <span><%=  image_tag "/images/sst_pic2.png" %></span>
      <span><%=  image_tag "/images/sst_pic3.png" %></span>
    </div>
  </div>
<% end %>

<style type="text/css">
  .cb_left .is_con img {
    margin-bottom: 60px;
  }
</style>

<%= render "share/store_sidebar" %>

