<% if @title.is_a? Array %>
    <% content_for :title, @title.reverse.join("-") %>
<% else %>
    <% content_for :title, @title %>
<% end %>

<div class="cb_left">
  <div class="pcr_list">
    <% if @tires.blank? %>
      <p>很抱歉，无搜索结果.</p>
    <% else %>
      <% @tires.each do |tire| %>
        <div class="rs_r1">
          <div class="pr_img">
            <%= image_fu(tire.list_image) %>
          </div>
          <div class="pr_text">
            <div class="pt_title"><%= raw tire.title %></div>
            <div class="pt_con">
              <%#= raw tire.description %>
            </div>
            <div class="pt_btn">
              <%= link_to refinery.tires_tire_path(tire) do %>
                <%= image_tag "/images/v2/pcr_pic4.png", :size => "100x26" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "refinery/tires/tires/sidebar" %>
