<% if controller_name == 'statics' && action_name == 'index' %>
  <div class="mk">
<% else %>
<div class="mk2">
  <% end %>
  <div id="nav">
    <ul class="ul">
      <li class="li li1"><a class="a current" href="/">首页</a></li>
      <li class="li line2"></li>
      <li class="li li2">

        <% if controller_name == 'statics' && (action_name == 'contact_us' ||  action_name == 'story' || action_name == 'sold_worldwide') %>
          <a class="a current" href="/about_us">关于斯达飞</a>
        <% else  %>
          <a class="a" href="/about_us">关于斯达飞</a>
        <% end %>

        <div class="none1">
          <ul class="menu1">
            <li><a href="/sold_worldwide">行销全球</a></li>
            <li><a href="/story">DTT科技</a></li>
            <li><a href="/contact_us">联系我们</a></li>
          </ul>
        </div>
      </li>
      <li class="li li3">

        <% if controller_name == 'tires' || action_name == 'knowledge' %>
          <a class="a current" href="javascript:void(0)">产品与服务</a>
        <% else %>
          <a class="a" href="javascript:void(0)">产品与服务</a>
        <% end %>

        <div class="none1">
          <ul class="menu1">
            <li><%= link_to 'PCR产品', refinery.tires_tires_path(:cat => 'pcr') %></li>
            <li><%= link_to 'SUV产品', refinery.tires_tires_path(:cat => 'suv') %></li>
            <li><%= link_to '轻卡产品', refinery.tires_tires_path(:cat => 'lighttruck') %></li>
            <li><%= link_to '冬季轮胎产品', refinery.tires_tires_path(:cat => 'winter') %></li>
            <li><a href="/tires/search">查找轮胎</a></li>
            <li><a href="/knowledge">轮胎使用常识</a></li>
          </ul>
        </div>
      </li>

      <li class="li li4">
        <% if controller_name == 'items' %>
        <a class="a current" href="javascript:void(0)">媒体新闻</a>
         <% else %>
          <a class="a" href="javascript:void(0)">媒体新闻</a>
         <% end %>
          <div class="none1">
          <ul class="menu1">
            <li><%= link_to '新闻中心', refinery.news_items_path %></li>
            <li><%= link_to '媒体中心', refinery.news_items_path(:type => :media) %></li>
          </ul>
        </div>
      </li>

      <li class="li li5">

        <% if controller_name == 'stores' %>
          <a class="a current" href="javascript:void(0)">营销网络</a>
        <% else %>
          <a class="a" href="#">营销网络</a>
        <% end %>

        <div class="none1">
          <ul class="menu1">
            <li><a href="/stores/1">斯达飞零售店</a></li>
            <li><a href="/stores/search">查找店铺</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>


