<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= yield_for(:title, "starfiretires.com") %></title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="normal_body">
<div id="outer">
  <div id="wrapper">
    <div id="header"> 
      <%= render 'layouts/menu' %>
      <!-- header end -->
    </div>

    <div id="container">
      <div class="content">
        <div class="w960">
          <div class="zy_con color-block">
            <div class="coc_title">
              <div class="ct_left">
                <%=  yield :title_image %>
              </div>
              <div class="ct_right">
                <span>当前位置:</span>
                <%= raw(show_nav_path(controller_name, action_name, @title)).html_safe %>
              </div>
            </div>
            <div class="coc_bottom">
              <%= yield %>
            </div>
          </div>
          <!-- w960 end -->
        </div>
        <!-- content end -->
      </div>  
      <!-- container end -->
    </div>
    <div id="footer">
      <%= render :partial => 'layouts/footer' %>
      <!-- footer end -->
    </div>
    <!-- end wrapper -->
  </div>
   <!-- end outer -->
</div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script language="javascript" type="text/javascript" src="/js/global.js"></script>
  <script language="javascript" type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>

  <!--[if IE]>
     
     <style type="text/css">

     .color-block { 
         background:transparent;
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#60e6e6e6,endColorstr=#60e6e6e6); 
         zoom: 1;
      } 

      </style>

  <![endif]-->
</body>
</html>
